parameters:
  fileExtensions:
    - php

  parallel:
    jobSize: 20
    minimumNumberOfJobsPerProcess: 2
    maximumNumberOfProcesses: 32
    processTimeout: 60.0

  paths:
    - app/
    - bootstrap/
    - config/
    - database/
    - public/
    - resources/
    - routes/
    - tests/
    - artisan

  excludePaths:
    - storage/*
    - vendor/*

  # General Rules
  level: 10
  customRulesetUsed: true
  checkTooWideReturnTypesInProtectedAndPublicMethods: true
  checkUninitializedProperties: true
  rememberPossiblyImpureFunctionValues: true
  checkImplicitMixed: true
  checkBenevolentUnionTypes: true
  reportPossiblyNonexistentGeneralArrayOffset: true
  reportPossiblyNonexistentConstantArrayOffset: true
  reportAlwaysTrueInLastCondition: true
  reportAnyTypeWideningInVarTag: true
  checkMissingOverrideMethodAttribute: true
  checkMissingCallableSignature: true
  editorUrl: "vscode://file/%%file%%:%%line%%"
  inferPrivatePropertyTypeFromConstructor: true
  treatPhpDocTypesAsCertain: true
  tipsOfTheDay: true
  errorFormat: "yaml"
  additionalConstructors: []

  # Exceptions
  exceptions:
    reportUncheckedExceptionDeadCatch: true
    implicitThrows: true

    check:
      missingCheckedExceptionInThrows: true
      tooWideThrowType: true

  # Custom Type Definitions
  typeAliases:
    Name: "string"
    NameResolver: "callable(): string"
    NameOrResolver: "Name|NameResolver"

  # includes:
  #   - vendor/phpstan/phpstan-strict-rules/rules.neon
  #   - vendor/larastan/larastan/extension.neon
  #   - vendor/phpstan/phpstan-phpunit/extension.neon
  #   - vendor/phpstan/phpstan-phpunit/rules.neon
  #   - vendor/phpstan/phpstan-doctrine/extension.neon
  #   - vendor/phpstan/phpstan-doctrine/rules.neon

  # # PHPStan Strict Rules
  # strictRules:
  #   allRules: true

  # # Larastan
  # noModelMake: true
  # noUnnecessaryCollectionCall: true
  # checkModelProperties: false
  # checkOctaneCompatibility: false
  # checkUnusedViews: true
  # noEnvCallsOutsideOfConfig: true
  # checkModelAppends: true

  # # PHPStan Doctrine
  # doctrine:
  #   reportDynamicQueryBuilders: true
  #   reportUnknownTypes: true
  #   literalString: true
