# Add files here to ignore them from docker copying
# Add files here to ignore them from prettier formatting
# Add files here to ignore them from eslint formatting
# Add files here to ignore them from stylelint formatting
# Add files here to ignore them from blade formatting
